@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cherry+Swash:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.screen{
    position: absolute;
    z-index: 5;
    background-color: rgba(76,57,57,.45);
    width: 100vw;
    height: 250px;
    top: 0;
    bottom: 0;
}
header{
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.head-bg{
    position: absolute;
    left: -50px;
    width: 120vw;
    height: auto;
    z-index: 0;
}
.navbar{
    position: relative;
    z-index: 20;
    color: #e84393;
    width: 100vw;
    display: inline-block;
}
.navbar-brand{
    font-family: 'Berkshire Swash',cursive;
    color: #e84393;
    font-size: 30px;
    cursor: grab;
    text-shadow: 1px 1px 2px black;
}
.navbar-brand:hover{
    color: wheat;
}
.navbar-toggler{
    outline-style: hidden;
    color: #e84393;
    font-size: 35px;
    border: none;
    box-shadow: none;
}
.navbar-toggler:focus{
    outline: none;
    outline-style: none;
    box-shadow: none;
}
.navbar-toggler:active{
  transform: scale(0.95);
  color: wheat;
  outline: none;
  outline-style: none;
  box-shadow: none;
}
.navbar-nav{
    position: relative;
    z-index: 20;
    text-align: end;
    width: 100vw;
    text-align: center;
    margin: auto;
    height: 70px;
}
.nav-item{
    font-size: 1.1em;
    text-shadow: 1px 1px 2px black;
    margin: auto;
    text-align: center;
    cursor: pointer;
    width: 6rem;
    height: 100%;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: wheat;
}
.hero{
    position: absolute;
    top: 7rem;
    left: 15%;
    z-index: 20;
    margin: auto;
    text-align: center;
    text-decoration: wavy;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Indie Flower', cursive;
}

@media (max-width: 991px){
   .nav-item{

       margin-bottom: 1rem;
       font-size: 22px;
   }
   .navbar-nav{
       height: auto;
       background-color: rgba(76,57,57,.65);
   }
   
}